<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Bd" value="E:\Db_Dados-Salvos\C#\"/>
		<add key="BdClientes" value="E:\Db_Dados-Salvos\C#\Clientes\clientes.txt"/>
		<add key="BdUsuarios" value="E:\Db_Dados-Salvos\C#\Usuarios\usuarios.txt"/>
	</appSettings>
</configuration>